*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root{
    --main-color: rgb(16, 116, 173);
    --second-color: rgb(28, 141, 206);
}

nav{
    position: fixed;
    top: 0;
    left: -300px    ;
    height: 100vh;
    min-width: 20vw;
    padding-top: 30px;
    padding-left: 10px;
    background-color: var(--main-color);
    user-select: none;
    transition: all 300ms;
}

nav div{
    margin-top: 30px;
    width: 200px;
    height: 200px;
}


nav div img{
    width: 200px;
    height: 200px;
}

nav ul{
    margin-top: 80px;
    /* margin-left: 20px; */
}
nav ul a{
    display: block;
    width: 90%;
    list-style-type: none;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color:#fff;
    transition: all 200ms;
    line-height: 60px;
}

nav ul a:hover{
    background-color: var(--second-color);
    padding-left: 10px;
    overflow: hidden;
}

i{
    color: #fff;
    margin-right: 15px;
}


main{
    margin-left: 20vw;
}

main #gallery {
    padding: 40px 80px;
    display: flex;
}

main #gallery #content{
    width: 70%;

}

main #gallery #content p{
    font-size: 1.1rem;
}

main #gallery #images {
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
}


main #gallery img{
    width: 250px;
    margin-top: 20px;
}

main #gallery h1{
    font-size: 2rem;
    color: var(--main-color);
    margin: 10px 0;
}

main #gallery p:nth-of-type(2){
    margin-top: 10px;
}
/* Sidebar show and hide */

#check{
    display: none;
}

label #btn , label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 3px;
}

label #btn:hover, label #cancel:hover {
    background-color: var(--second-color);
}

label #btn{
    left: 10px;
    top: 10px;
    font-size: 30px;
    color: #fff;
    padding: 10px 15px;
    z-index: 3;
}

label #cancel {
    left: -250px;
    top: 10px;
    font-size: 30px;
    color: #fff;
    padding: 10px 15px;
    z-index: 3;
}

#check:checked ~ nav{
    left: 0;
}

#check:checked ~ label #cancel{
    transform: translateX(405px);
    transition-delay: 300ms;
}

